{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Inicio</title>
    <!-- Bootstrap CSS y otros recursos CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
    <!-- Favicon y otros recursos estáticos si los hay -->
    <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>

    <script>
      function botonCerrarSesion(event) {
        // Evita que el enlace siga su ruta por defecto de inmediato
        event.preventDefault()
      
        if (confirm('¿Está seguro de que desea cerrar sesión?')) {
          // Si el usuario confirma, sigue el enlace de cierre de sesión
          window.location.href = event.currentTarget.href
        }
      }
    </script>
  </head>

  <body>
    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Aquí iría tu barra de navegación -->
    </nav>

    <!-- Contenido principal -->
    <div class="container mt-4">
      <h2>Inicio</h2>
      <div class="card">
        <div class="card-header">
          <a class="btn btn-primary" href="{% url 'crear' %}" role="button">Agregar nuevo libro</a>
          <!-- Botón Volver con lógica condicional -->
          {% if request.session.estadoUsuario %}
          {% if request.session.nomUsuario|upper == "ADMIN" %}
          <a class="btn btn-primary" href="{% url 'menu_admin' %}" role="button">Volver</a>
            {% else %}
              <a class="btn btn-primary" href="{% url 'menu_usuario' %}" role="button">Volver</a>
            {% endif %}
          {% endif %}
        </div>
        <div class="card-body">
          <h4 class="card-title">Libros</h4>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">TITULO</th>
                  <th scope="col">IMAGEN</th>
                  <th scope="col">DESCRIPCION</th>
                  <th scope="col">ACCIONES</th>
                </tr>
              </thead>
              <tbody>
                {% for libro in libros %}
                  <tr>
                    <td>{{ libro.id }}</td>
                    <td>{{ libro.titulo }}</td>
                    <td>
                      <img src="{{ libro.imagen.url }}" height="100" alt="{{ libro.titulo }}" />
                    </td>
                    <td>{{ libro.descripcion }}</td>
                    <td>
                      <a class="btn btn-info" href="javascript:void(0)" onclick="confirmarEdicion({{ libro.id }})" role="button">Editar</a>
                      |
                      <a class="btn btn-danger" href="javascript:void(0)" onclick="confirmarEliminacion({{ libro.id }})" role="button">Borrar</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer text-muted">
          <!-- Aquí puede ir información adicional o dejarlo vacío -->
        </div>
      </div>
    </div>

    <!-- Pie de página -->
    <footer class="text-center py-3">
      <p>
        &copy;{% now 'Y' %}Biblioteca. Todos los derechos reservados.
      </p>
    </footer>

    <!-- Scripts de JavaScript necesarios para Bootstrap y otros comportamientos interactivos -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"></script>

    <script>
      function confirmarEdicion(libroId) {
        alertify.confirm(
          'Confirmar edición',
          '¿Estás seguro de que quieres editar este libro?',
          function () {
            window.location.href = '/editar/' + libroId
          },
          function () {
            alertify.error('Cancelado')
          }
        )
      }
      
      function confirmarEliminacion(libroId) {
        alertify.confirm(
          'Confirmar eliminación',
          '¿Estás seguro de que quieres borrar este libro?',
          function () {
            window.location.href = '/eliminar/' + libroId
          },
          function () {
            alertify.error('Cancelado')
          }
        )
      }
    </script>
  </body>
</html>
