{% extends "base.html" %}

{% block titulo%} Nosotros {% endblock%}


{% block contenido%}  

<section class="container mt-5">
    <h2>Sobre Nosotros</h2>
    <div class="row">
        <div class="col-md-6">
            <h3>Misión</h3>
            <p>
                Preservar, fomentar y difundir el patrimonio cultural e histórico de Chile a través de la recolección, conservación y disponibilidad de obras literarias, artísticas y documentales. Servir como puente entre el conocimiento acumulado de nuestras generaciones pasadas y las futuras, garantizando el acceso libre y democrático a la información para todos los chilenos.
            </p>
        </div>
        <div class="col-md-6">
            <h3>Visión</h3>
            <p>
                Ser reconocida como una de las principales instituciones culturales y educativas de Chile, líder en innovación y digitalización, donde cada ciudadano pueda encontrar, aprender y contribuir al acervo cultural de la nación. A través de la integración de tecnologías y colaboraciones estratégicas, aspiramos a conectar a Chile con su pasado, presente y futuro, fortaleciendo la identidad y el sentido de pertenencia en cada individuo.
            </p>
        </div>
    </div>
</section>
{% endblock%}